<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>OpenPayments Search</title>
</head>
<body>
    <header>
        <h1>Open Payments Search</h1>
        <p>Search for payments paid to doctors in the most recent year.</p>
    </header>
    <input type="text" id="search" placeholder="Search ...">
    <a href="#" id="excel">Export to Excel</a>

    <table id="results">
        <tr>
            <th>Doctor's First Name</th>
            <th>Doctor's Middle Name</th>
            <th>Doctor's Last Name</th>
            <th>Payment Amount</th>
            <th>Payment Type</th>
        </tr>
    </table>

    <script>
        document.getElementById('search').addEventListener('input', function() {
            const query = this.value
            if(query.length > 1){
                fetch(`/api/search/?q=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then(data => {
                    const resultsElem = document.getElementById('results')
                    resultsElem.innerHTML = ''
                    data.forEach(item => {
                        const tableRowElem = document.createElement('tr')
                        tableRowElem.innerHTML = `<td>${item.doctor_first_name}</td><td>${item.doctor_middle_name}</td><td>${item.doctor_last_name}</td><td>$${item.payment_amount}</td><td>${item.payment_type}</td>`
                        resultsElem.appendChild(tableRowElem)
                    })
                })
            }
        })

        document.getElementById('excel').addEventListener('click', function(e){
            e.preventDefault()
            const query = document.getElementById('search').value
            window.location.href = `/export_excel/?q=${encodeURIComponent(query)}`
        })

    </script>
</body>
</html>